<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlogProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %> 
  </head>
  <body class="d-flex flex-column">
  <%= render 'layouts/navbarcode' %>
  <div id="page-content">
  <div class="container">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
              <%= msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <% end %> 
  </div>
  <%= yield %>
  </div>
  <%=render 'layouts/footer'%>
  </body>
</html>
